// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@import 'src/css/quasar.variables.scss';

:root {
  --q-toolbar1: #495a69;
  --q-toolbar2: #aadadf;
  --q-thead: white;
  --height-table: 57vh;
  --primary: #2c698d; //#495a69
  --secondary: #e3f6f5; //#aadadf
}
.background-head-light{
  background: #fcfbfe;
  color: #1D1D1D;
}
.background-head-dark {
  background: #121212;
  color: #fcfbfe;
}
.text-primary {
  color: var(--primary) !important;
}
.text-secondary {
  color: var(--secondary) !important;
}
.toolbar1 {
  background: var(--primary) !important;
  color: white;
}
.toolbar2 {
  background: $secondary !important;
  color: white;
}
body{
  font-family: 'Poppins', sans-serif;
  height: 100%;
}
// tema light y dark
.body--light {
  background-color: #fcfbfe;
  // background-color: #303030;
  color: #757575;
}
.body--dark {
  background-color: $dark;
  color: #fcfbfe;
}
.q-page{
  margin-left: 24px;
  margin-right: 24px;
}
.text-hidden{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bg-tool-tip{
  color: #fcfbfe;
  background-color: $primary;
}
.btn-drawer{
  color: #7d7c81;
}
.btn-drawer-background{
  background-color: $primary;
  color: #fff;
}

// estilos globales para los checkbox
.q-checkbox__bg{
  border-radius: 5px;
}
.q-checkbox__inner{
  font-size: 30px;
}
// estilos globales para los chips
.q-chip--square {
  border-radius: 7px;
}
.q-chip--dense {
  padding: 0 0.4em;
}
.q-chip__content{
  font-size: 0.9em;
}

